<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Session</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link th:href="@{/css/student/seatMap.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
 <body>
    <input type="hidden" id="hashedCid" th:value="${hashedCid}" /> 
    <input type="hidden" id="studentEmail" th:value="${student.email}" /> 
    <input type="hidden" id="studentName" th:value="${student.name}" /> 
    <input type="hidden" id="hashedStudentID" th:value="${student.name}" /> 
    <input type="hidden" id="attendanceStatus" th:value="${attendanceStatus}" /> 
    <div class="heading">
        <a href="/student/dashboard" class="back" title="Back to Dashboard">
          <i class="fa fa-angle-left"></i>
        </a>
        <h1>
          <span th:text="${className}"></span> Attendance Session
          <div  id="status"></div>
        </h1>  
    </div>
    <div class="container">
        <div id="status"></div>
        <div id="classroomContainer">
            <div id="seatMapContainer">
            </div>
      
            <div id = "teacherSeatContainer">
              <div class="frontText">Front</div>
              <div class="frontBoard"></div>
            </div>
          </div>
      
          <div class="seatExplanation">
            <div class="seatExplanationItem">
              <div class="seatColor occupiedColor"></div>
              <div class="seatExplanationText">Occupied</div>
            </div>
            <div class="seatExplanationItem">
              <div class="seatColor availableColor"></div>
              <div class="seatExplanationText">Available</div>
            </div>

        </div>
    </div>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
     <script type="module" th:src="@{/javascript/student/seatMap.js}"></script>
 </body>
 </html>