<!-- student/dashboard.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Dashboard</title>
</head>
<body>
    <h1>Welcome, Student <span th:text="${name}"></span></h1>
    <p>Email: <span th:text="${email}"></span></p>

    <h3>Your Classrooms:</h3>
    <ul th:if="${classrooms != null and classrooms.size() > 0}">
        <!-- Iterate over the classrooms and display their details -->
        <li th:each="classroom, status: ${classrooms}">
            <strong>Class Name:</strong> <span th:text="${classroom.className}"></span><br>
            <strong>Room Number:</strong> <span th:text="${classroom.roomNumber}"></span><br>
            <strong>Join Code:</strong> <span th:text="${classroom.joinCode}"></span><br>
            <!-- <strong>Hased id:</strong> <span th:text="${teacherHashedId}"></span><br>
            <strong>Course Hased id:</strong> <span th:text="${classroom.hashedId}"></span><br> -->
            <form th:id="'joinAttendanceForm-' + ${classroom.hashedId}">
                <input type="hidden" id="hashedCid" th:value="${classroom.hashedId}">
                <div>
                    <button type="submit">Start attendance</button>
                </div>
            </form>
        </li>
    </ul>
    <p th:unless="${classrooms != null and classrooms.size() > 0}">You have not joined any classrooms yet.</p>

    <a th:href="@{/student/join(email=${email})}">Join</a>
    <a href="/user/logout">Log out</a>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        document.querySelectorAll("[id^='joinAttendanceForm-']").forEach(function(form) {
            form.addEventListener("submit", function(event) {
              event.preventDefault(); // Prevent the default form submission
          
              // Retrieve the form values
              let hashedCid = form.querySelector("#hashedCid").value;
              if (confirm("Are you sure you want to join the class")) {
                  $.ajax({
                      type: 'POST',
                      url: '/teacher/course/startAttendance',
                      data: {
                          hashedCid: hashedCid
                      },
                      success: function(response) {
                          // Handle the successful response here
                          window.location.href="/user/course/" + hashedCid + "/attendanceTaking";
                      },
                      error: function(xhr, status, error) {
                          // Handle any errors that occur during the request
                          console.error("An error occurred while updating the course:", error);
                      }
                  });
              }
            }
          )});
    </script>
</body>
</html>
