<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Data</title>
    <link rel="stylesheet" th:href="@{/css/student/viewData.css}">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-pie.min.js"></script>
</head>
<body>
    <input type="hidden" th:value="${hashedCid}" id="hashedCid">
    <input type="hidden" th:value="${percentage}" id="percentage">
    <input type="hidden" th:value="${attendanceEntries}" id="attendanceEntries">
    <input type="hidden" th:value="${totalAttendance}" id="totalAttendance">
    <input type="hidden" th:value="${checkedInTimes}" id="checkedInTimes">
    <input type="hidden" th:value="${missedAttendance}" id="missedAttendance">
    <input type="hidden" th:value="${attendanceDates}" id="attendanceDates">

    <div class="heading">
        <a href="/student/dashboard" class="back" title="Back to Dashboard">
        <i class="fa fa-angle-left"></i>
        </a>
        <h1><span th:text="${className}"></span> Attendance Data</h1>  
        <!-- User dropdown -->
        <div class="user-dropdown">
            <img class="user" th:src="@{/images/user_alter.png}" onclick="toggleDropdown()">
            <div class="dropdown-content" id="dropdownContent">
                <div class="profile">
                    <table>
                        <tr>
                            <td class="label">Name</td>
                            <td><span th:text="${userName}"></span></td>
                        </tr>
                        <tr>
                            <td class="label">Email</td>
                            <td><span th:text="${userEmail}"></span></td>
                        </tr>
                        <tr>
                            <td class="label">Account Type</td>
                            <td>Student Account</td>
                        </tr>
                    </table>
                </div>
            <div class="logOut">
                <a href="/user/logout">Sign Out</a>
            </div>
            </div>
        </div>
        <!-- end user dropdown -->
    </div>
    <div class="main">
        <div class="left">
            <div class="up">
                <h2>
                    Attendance Rate
                </h2>
                <svg class="attendance-chart" viewBox="0 0 100 100">
                </svg>
            </div>
            <div class="down">
                <h2>
                    Overview
                </h2>
                <div class="table-content">
                    <table>
                        <tr>
                            <td class="stat" th:text="${totalAttendance}"></td>
                            <td class="stat" th:text="${checkedInTimes}"></td>
                            <td class="stat" th:text="${missedAttendance}"></td>
                        </tr>
                        <tr>
                            <td>Classes In Total</td>
                            <td>Classes Attended</td>
                            <td>Classes Missed</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="right">
            <h2>Class History</h2>
            <div class="mainTable">
                

                <table id="studentTable">
                    <thead>
                        <tr>
                            <td>Date</td>
                            <td>Time</td>
                            <td>Attendance Status</td>
                            <td>Seat Number</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="attendanceEntry, index : ${attendanceEntries}">
                            <!-- Check if the 'attendanceDates' list is empty or null before accessing its elements -->
                            <th:block th:if="${not #lists.isEmpty(attendanceDates)}">
                                <!-- Get the timestamp from the 'attendanceDates' list corresponding to the current entry -->
                                <!-- Extract the date and time parts -->
                                <th:block th:with="timestamp=${attendanceDates[index.index]}">
                                    <td th:text="${#temporals.format(timestamp, 'yyyy/MM/dd')}">Date not available</td>
                                    <td th:text="${#temporals.format(timestamp, 'HH:mm:ss')}">Time not available</td>
                                </th:block>
                            </th:block>
                        
                            <!-- Line 3: Display "checked-in" if the status is true, "absent" if the status is false -->
                            <td>
                                <span th:if="${attendanceEntry.isCheckedIn}" th:id="'attendanceStatusSpan_' + ${attendanceEntry.id}">
                                    Checked-in
                                </span>
                                <span th:unless="${attendanceEntry.isCheckedIn}" th:id="'attendanceStatusSpan_' + ${attendanceEntry.id}">
                                    Absent
                                </span>
                            </td>
                            <!-- Line 4: Display nothing if seatNumber is equal to -1 -->
                            <td>
                                <span th:if="${attendanceEntry.seatNumber != -1}" th:text="${attendanceEntry.seatNumber}">None</span>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div> 
    <script type="text/javascript" th:src="@{/javascript/student/viewData.js}"></script>
</body>
</html>
