html, body {
    font-family: 'Poppins';
}

body {
    background-color: #cc0633;
    display: flex;
    margin: 0;
}

.left {
    width: 25%;
    height: auto;
    margin: 20px 0;
    margin-left: 20px !important;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container {
    background-color: white;
    width: 75%;
    border-radius: 25px;
    margin: 20px;
    margin-left: 0 !important;
    overflow: hidden;
}

.logo {
    position: absolute;
    width: 300px;
    top: 20px;
    left: 20px;
}

ul.menu {
    list-style: none;
    margin-top: -33%;
    margin-left: auto;
    width: 100%;
}
  
ul.menu li {
    display: flex;
    align-items: center;
    margin: 40px;
    margin-bottom: 0 !important;
    margin-top: 20px !important;
}
  
ul.menu li img {
    vertical-align: middle;
    margin-right: 10px;
}
  
ul.menu li .ul-text {
    display: inline;
}

ul.menu li {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
  
.listOne {
    background-color: white;
    width: calc(100% - 38px);
    border-radius: 30px 0 0 30px;
    height: 60px;
    position: relative;
}

li img {
    margin-left: 25px;
}

.listOne::before {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: -50px;
    right: -1px;
    height: 50px;
    width: 25px;
    border-top-right-radius: 35px; 
    box-shadow: 0 -25px 0 0 #ffffff;
}

.listOne::after {
    content: "";
    position: absolute;
    background-color: transparent;
    top: -50px;
    right: -1px;
    height: 50px;
    width: 25px;
    border-top-right-radius: 35px; 
    transform: scaleY(-1);
    box-shadow: 0 -25px 0 0 #ffffff;
}

.listOne.listOne--before-display::before,
.listOne.listOne--after-display::after {
  display: block;
}

.listOne.listOne--before-hide::before,
.listOne.listOne--after-hide::after {
  display: none;
}

.listOne .ul-text {
    color: black;
    font-weight: 600;
}

.listTwo .ul-text {
    color: white;
}

.archive {
    display: none;
}

.listTwo {
    width: calc(100% - 38px);
    border-radius: 30px 0 0 30px;
    height: 60px;
    position: relative;
}

.listTwo::before {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: -50px;
    right: -1px;
    height: 50px;
    width: 25px;
    border-top-right-radius: 35px; 
    box-shadow: 0 -25px 0 0 #fff;
    display: none;
}

.listTwo::after {
    content: "";
    position: absolute;
    background-color: transparent;
    top: -50px;
    right: -1px;
    height: 50px;
    width: 25px;
    border-top-right-radius: 35px; 
    transform: scaleY(-1);
    box-shadow: 0 -25px 0 0 #ffffff;
    display: none;
}

.listTwo.listTwo--before-display::before,
.listTwo.listTwo--after-display::after {
  display: block;
}


.main {
    margin: 4%;
    position: relative;
    overflow: auto;
}

.classContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    max-height: 500px;
    overflow: auto;
    margin-bottom: 2%;
}

.rooms {
    margin: 8px;
    font-size: 18px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 25px;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.roomContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.rooms:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

.rooms h1 {
    color: white;
}

.details {
    margin-bottom: 10px;
}

.roomContent.hidden {
    display: none;
}

.options {
    display: none;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.options.visible {
    display: block;
    justify-content: center;
    align-items: center;
}

.options div {
    background-color: #ffffff;
    margin-bottom: 10%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    transition: transform 0.3s ease;
}

.options div:hover {
    transform: scale(1.1); 
}

.user-dropdown {
    position: absolute;
    top: 5px;
    right: 5px;
}

.user {
    width: 60px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.user:hover {
    transform: scale(1.1); 
}

.greet {
    font-size: 50px;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.15);
    min-width: 300px;
    z-index: 1;
    right: 0px;
    padding: 20px;
    border-radius: 10px;
}

.profile table {
    width: 100%;
}

.profile td {
    padding: 5px 10px;
}

.profile .label {
    font-weight: bold;
    white-space: nowrap;
}

.logOut {
    width: 70px;
    padding: 10px;
    margin: 10px;
    background-color: #cc0633;
    float: right;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}

.logOut a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.logOut:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.classimg {
    width: 40%;
}

.createBox {
    margin: 8px;
    font-size: 18px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 250px;
    width: 250px;
    background-color: #cccccc;
    border-radius: 25px;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}
  
.createBox:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}
  
.createBox::before {
    content: "+";
    font-size: 80px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.formContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.formOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

.formContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 25px;
    min-width: 600px;
    max-width: 900px;
    width: 60%;
    height: 40%;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.formContainer.visible {
    display: block;
}

.formContent form label,
.formContent form input,
.formContent form select,
.formContent form button {
    width: 100%;
    max-width: 300px;
}

.addimg {
    width: 400px;
}

.formLeft {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.formRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    background-color: #cc0633;
    height: 100%;
    border-radius: 90px 25px 25px 90px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

form {
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form h1 {
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -2.75px;
    margin-bottom: 5%;
    margin-top: 5%;
}

input, select {
    width: 70%;
    height: 65px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: white;
    font-size: 18px;
    color: #CC0633;
    outline: none;
    text-indent: 10px;
    box-sizing: border-box;
    font-family: "Poppins";
    margin-bottom: 5%;
} 
  
input::placeholder{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-indent: 10px;
    font-family: "Poppins";
    color: #CC0633;
}

option {
    color: #CC0633;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #CC0633;
  transition: background-color 5000s ease-in-out 0s;
}

.formButtons {
    display: flex;
    margin-top: 3%;
}


.formButtons button:first-child {
    margin-right: 10px;
    background-color: #50e973;
    font-size: 20px;
}
  
.formButtons button:last-child {
    background-color: #cccccc;
    font-size: 20px;
    margin-left: 10px; 
}

.formButtons button {
    font-size: 30px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.formButtons button:first-child:hover {
    background-color: #50e974ee;
}

.formButtons button:last-child:hover {
    background-color: #bbbbbb;
}

.formButtons button:focus {
    outline: none;
    box-shadow: 0 0 5px #ff1f5700;
}


.editContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.editOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

.editContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 25px;
    min-width: 600px;
    max-width: 900px;
    width: 60%;
    height: 40%;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.editContainer.visible {
    display: block;
}

.editButtons {
    display: flex;
    margin-top: 3%;
}


.editButtons button:first-child {
    margin-right: 10px;
    background-color: #50e973;
    font-size: 20px;
}
  
.editButtons button:last-child {
    background-color: #ff6868;
    font-size: 20px;
    margin-left: 10px; 
}

.editButtons button {
    font-size: 30px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.editButtons button:first-child:hover {
    background-color: #50e974ee;
}

.editButtons button:last-child:hover {
    background-color: #ff6868b7;
}

.editButtons button:focus {
    outline: none;
    box-shadow: 0 0 5px #ff1f5700;
}

.navbar {
    display: none;
}

.navbar-logo {
      font-weight: bold;
      font-size: 24px;
    }

.navbar-links {
    display: flex;
    justify-content: space-between;
    background-color: #cc0633;
    color: white;
    padding: 10px;
}

.responsive-options {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

#backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    display: none;
    z-index: 99;
}
  
  #backdrop.visible {
    display: block;
}

@media screen and (max-width: 1250px) {
    .logo {
        width: 250px;
    }
}

@media screen and (max-width: 1200px) {
    body {
        flex-direction: column;
        background-color: white;
        overflow: hidden;
        width: 100%;
    }

    .container {
        overflow: hidden;
    }

    .addimg {
        width: 300px;
    }

    .options {
        display: none;
    }

    .responsive-options.visible {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 250px;
        border-radius: 25px;
        background-color: #CC0633;
    }

    .responsive-options.visible div {
        width: 70%;
        font-size: 18px;
        background-color: #ffffff;
        margin-bottom: 10%;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        font-weight: 600;
        transition: transform 0.3s ease;
    }
    
    .responsive-options.visible div:hover {
        transform: scale(1.1); 
    }

    .responsive-options.visible .viewData {
        margin-bottom: 0 !important; 
    }

    .greet {
        font-size: 30px;
        margin-top: 0px;
    }

    .main {
        margin-top: 0px;
    }
    h2 {
        font-size: 20px;
    }

    .user-dropdown {
        display: none;
    }

    .left {
        display: none;
    }
    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #CC0633;
        justify-content: space-between;
        height: 10vh;
    }
    
    .classContainer {
        max-height: 550px;
    }

    .navbar-logo {
        position: static;
        width: 280px;
        margin-left: 10px;
    }

    .navbar-links {
        flex-direction: row;
        width: 50%;
        height: 70%;
        background-color: transparent;
    }

    .container {
        width: 100%;
        border-radius: 0;
    }

    .nav-user {
        width: 60px;
        cursor: pointer;
        transition: transform 0.3s ease;
        margin-left: auto;
        margin-right: 20px;
    }
    
    .nav-user:hover {
        transform: scale(1.1); 
    }

    .nav-dropdown-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.15);
        min-width: 300px;
        z-index: 1;
        right: 0px;
        padding: 20px;
        border-radius: 10px;
        margin-right: 10px;
    }

    .navOne, .navTwo {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 18px;
        border-radius: 30px;
        text-align: center;
        cursor: pointer;
    }

    .navOne {
        background-color: #ffffff;
        color: black;
        font-weight: 600;
    }
    .classContainer {
        display: flex;
        justify-content: center;
        margin-top: 0;
    }
    .rooms {
        width: 80%;
        height: 120px;
    }
    .createBox {
        width: 80%;
        height: 120px;
    }
    .roomContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        flex-direction: row;
        width: 90%;
    }   
    .roomContent h1 {
        width: 50%;
        display: flex;
        justify-content: center;
        font-size: 50px;
    }
    .rightRoom {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
    }
    .formRight h1 {
        font-size: 35px;
    }
}

@media screen and (max-height: 765px) and (max-width: 1200px) {
    .createBox {
        margin-bottom: 15%;
    }

    .nav-user {
        width: 55px;
        margin-top: 5px;
    }
}

@media screen and (max-width: 750px) {
    .navOne, .navTwo {
        font-size: 16px;
    }

    .navbar-logo {
        width: 230px;
    }
}

@media screen and (max-width: 650px) {
    .navOne, .navTwo {
        font-size: 15px;
    }

    .nav-user {
        width: 52px;
    }
    .roomContent h1 {
        font-size: 40px;
    }
    .rightRoom .details {
        font-size: 15px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 540px) {
    .navOne, .navTwo {
        font-size: 15px;
    }

    .nav-user {
        width: 52px;
    }

    .roomContent h1 {
        font-size: 40px;
    }

    .rightRoom .details {
        font-size: 15px;
        margin-bottom: 0;
    }

    .rooms {
        width: 90%;
    }

    .createBox {
        width: 90%;
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 650px) {
    .navOne, .navTwo {
        font-size: 15px;
    }

    .nav-user {
        width: 52px;
    }

    .roomContent h1 {
        font-size: 40px;
    }

    .rightRoom .details {
        font-size: 15px;
        margin-bottom: 0;
    }

    .formContent, .editContent {
        min-width: 550px;
        min-height: 400px;
        height: 30%;
    }

    .addimg {
        width: 250px;
    }
}

@media screen and (max-width: 560px) {
    .formContent, .editContent {
        min-width: 400px;
        min-height: 400px;
        height: 30%;
    }

    .formLeft {
        display: none;
    }

    .formRight {
        width: 100%;
        border-radius: 25px;
    }
}

@media screen and (max-width: 525px) {
    .navbar-logo {
        position: static;
        width: 115px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 478px) {
    .rooms {
        width: 100%;
    }

    .createBox {
        width: 100%;
    }

    .roomContent h1 {
        font-size: 31px;
    }

    .rightRoom .details {
        font-size: 13px;
    }

    .formContent, .editContent {
        min-width: 300px;
        min-height: 350px;
        height: 30%;
    }

}

@media screen and (max-height: 680px) and (max-width: 700px) {
    .createBox{
        margin-bottom: 20%;
    }
}

@media screen and (max-height: 680px) and (max-width: 400px) {
    .createBox{
        margin-bottom: 25%;
    }
}

@media screen and (min-height: 800px) and (max-width: 1200px) {
    .classContainer {
        max-height: 650px;
    }
}

@media screen and (min-height: 900px) and (max-width: 1200px) {
    .classContainer {
        max-height: 1300px;
        height: 70%;
    }

    .greet {
        font-size: 40px;
        margin-top: 3%;
    }

    .classDiv h2 {
        font-size: 30px;
    }

    .navOne, .navTwo {
        font-size: 23px;
    }

    .navbar-logo {
        width: 300px;
    }
}

@media screen and (min-height: 1200px) and (min-width: 1201px) {
    .classContainer {

        height: 70%;
        min-height: 1000px;
    }
}
