
/*styling of the seat*/ 
.seat {
    display: inline-block;
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    box-sizing: border-box;
    line-height: 1.4;
    overflow: hidden;
    word-wrap: break-word;
    
  }
  
  /* part the seat into 3 */ 
  .seat:nth-child(3n) {
    margin-right: 50px; /* Adjust the margin as per your preference */
  }
  

  .seat.group-start {
    margin-left: 0;
  }
  
  /* the colour of the seat after it is selected by student */ 
  .seat.selected {
    background-color:red; 
  }
  
  #teacherSeatContainer {
    position: absolute;
    top: 60%; 
    left: 40%; 
    width: 300px; 
    height: 100px; 
    background-color: #ccc;
    border: 1px solid #999;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .teacherText {
    text-align: center;
  }

  /* Add the "occupied" style to the occupied seats */
.seat.occupied {
  background-color: red; /* Adjust the background color as desired */
  cursor: not-allowed; /* Change the cursor to indicate the seat is occupied */
}


.seat.occupied::after {
  content: attr(data-student-name);
  /* Additional styles for displaying the student name */
}