html, body {
  font-family: 'Poppins';
}

body {
  background-color: #cc0633;
  display: flex;
  margin: 0;
  flex-direction: column;
  height: 100vh;
}

.heading {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  position: relative;
  height: 140px;
}

.back {
  top: 0;
  margin-top: 30px;
  left: 40px;
  color: #ffffff;
  font-size: 58px;
  text-decoration: none;
  position: absolute;
}

h1 {
  color: #FFF;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -2.75px;
  margin-top: 30px;
  text-align: center;
}

.user-dropdown {
  display: flex;
  position: absolute;
  right: 40px;
  margin-top: 7px;
}
.user {
  width: 60px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.user:hover {
  transform: scale(1.1); 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.15);
  min-width: 350px;
  z-index: 1;
  right: 0px;
  padding: 20px;
  border-radius: 10px;
  margin-top: 70px;
}

.profile table {
  width: 100%;
}

.profile td {
  padding: 5px 10px;
}

.profile .label {
  font-weight: bold;
  white-space: nowrap;
}

.logOut {
  width: 80px;
  padding: 10px;
  margin: 10px;
  background-color: #cc0633;
  float: right;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
}

.logOut a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.logOut:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.main {
  height: 80%;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left {
  width: 45%;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

.up {
  position: relative;
  height: 55%;
  display: flex;
  background-color: #FFF;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
}

.down {
  height: 45%;
  position: relative;
  background-color: #FFF;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  margin-top: 25px;
  display: flex;
}

.attendance-chart {
  width: 50%; 
  max-width: 300px; 
  height: auto;
}

.background-circle {
  fill: none;
  stroke: #f0f0f0; 
  stroke-width: 5;
}

.attendance-rate-circle {
  fill: transparent;
}

.up h2, .down h2, .right h2 {
  position: absolute;
  top: 0;
  left: 30px;
}

.table-content {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.table-content table {
  width: 100%;
}

.table-content td {
  padding: 8px;
  text-align: center;
}

.stat {
  text-align: center;
  font-size: 40px;
  color: rgb(2, 143, 2);
  font-weight: 800;
}

.right {
  background-color: #ffffff;
  margin-left: 25px;
  border-radius: 25px;
  width: 55%;
  margin-right: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainTable {
  overflow: auto;
  height: 80%;
  width: 90%;
}

#studentTable {
  width: 100%;
  border-collapse: collapse;
}

#studentTable thead {
  background-color: #fdcad5;
  color: rgb(0, 0, 0);
  font-weight: 900;
}

#studentTable td {
  padding-top: 10px;
  padding-bottom: 10px;
}

#studentTable td {
  padding-left: 10px;
}

#studentTable tbody tr:nth-child(2n) {
  background-color: #fcebee;
}

@media screen and (max-width: 830px) {
  h1 {
    font-size: 40px;
    line-height: 40px;
  }

  #studentTable {
    font-size: 14px;
  }

  .table-content {
    font-size: 18px;
  }

  .stat {
    font-size: 36px;
  }
}

@media screen and (max-width: 750px) {
  .main {
    flex-direction: column;
    height: 81%;
    align-items: center;
    justify-content: center;
    overflow: auto;
  }

  .left {
    height: 50%;
    margin: 0;
    width: 90%;
  }

  .right {
    height: 50%;
    width: 90%;
    margin: 0;
    margin-top: 12px;
  }

  .down {
    margin-top: 12px;
  }

  .table-content td {
    padding: 0px;
  }

  .stat {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  #studentTable {
    margin-top: 20px;
  }

  .table-content {
    margin-top: 20px;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 35px;
  }

  .user {
    width: 50px;
  }

  .user-dropdown {
    right: 30px;
  }

  .attendance-chart {
    width: 37%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  
  h2 {
    font-size: 18px;
  }
  .stat {
    font-size: 20px;
  }
  
  .table-content {
    font-size: 16px;
  }

  .back {
    left: 30px;
    margin-top: 13px;
  }

  .heading {
    height: 100px;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 30px;
  }
  
  h2 {
    font-size: 16px;
  }

  .stat {
    font-size: 18px;
  }
  
  .table-content {
    font-size: 14px;
  }

  .user-dropdown {
    right: 20px;
  }
}

@media screen and (min-height: 900px) {
  .main {
      height: 81%;
  }
}

@media screen and (min-height: 1150px) {
  .main {
    height: 86%;
  }
}

@media screen and (max-height: 750px) {
  .main {
    height: 73%;
  }

  h1 {
    font-size: 45px;
  }

  .table-content td {
    padding: 0;
  }

  #studentTable {
    margin-top: 20px;
  }

  .table-content {
    font-size: 18px;
  }

  .stat {
    font-size: 28px;
  }

  .attendance-chart {
    width: 40%;
    margin-top: 20px;
  }
}