<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/user/forgotPassword.css}">

</head>
<body>
    <div class="container">
        <a href="https://www.fraseric.ca/"><img  th:src="@{/images/fic_logo.svg}" class="logo"></a>
        <div class="left">
            <img th:src="@{/images/forgotPass.png}" class="illustration">
        </div>
        <div class="right">
            <div class="formContainer">
                <h1>Forgot<br> Password?</h1>
                <h3>Don't worry. We can help.</h3>
                <form id="forgotPasswordForm" th:action="@{/user/forgot_password}" method="post">
                    <div class="text">
                        <p>We will be sending a reset password link to your email.</p>
                    </div>
                    <input type="email" id="email" name="email" placeholder="Please fill in your e-mail"  autofocus/>            
                    <div class="returnContainer">
                        <div class="return">
                            Back to<a th:href="@{/user/login}">Sign In</a>
                        </div>
                        <input type="submit" value="Send" onclick="return validateForm()"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
    <script th:inline="javascript">
        /*<![CDATA[*/
        var error = /*[[${error}]]*/ null;
        var message = /*[[${message}]]*/ null;
        
        if (error != null) {
            // alert(error);
            var str = error ; 
            Swal.fire(
                { 
                    title : 'Email cannot be found' ,
                    text :str ,
                    icon :'error'
                }

            )
           
        }
        
        if (message != null) {
            // alert(message);
            var str = message ;
            Swal.fire(
                { 
                    title : 'Error' ,
                    text :str ,
                    icon :'error'
                }

            )
        }
        /*]]>*/
    </script>
    <script th:src="@{/javascript/user/forgotPassword.js}"></script>
</body>
</html>
