<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container text-center">

        <p>You have not verified your account!</p>
        <p>Please check your email to verify your account.</p>
        <form th:action="@{/user/verification/reSend}" method="post">
            <button type="submit">Resend Verification Email</button>
        </form>
        <h4><a th:href="@{/user/login}">Click here to Login</a></h4>
        <p>Or you can close this tab</p>
        <a href="/user/logout">Log out</a>
    </div>
</body>
</html>






