<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link th:href="@{/css/user/setNewPassword.css}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <a href="https://www.fraseric.ca/"><img th:src="@{/images/fic_logo.svg}" class="logo"></a>
        <div class="left">
            <img th:src="@{/images/resetPass.png}" class="illustration">
        </div>

        <div class="right">
            <div class="formContainer">
                <h1>Reset<br> Password</h1>
                <h3>Don't share your password.</h3>
                <form th:action="@{/user/reset_password}" method="post">
                    <input type="hidden" name="token" th:value="${token}" />
                    <div class="passwordContainer">
                        <input type="password" name="password" id="password" placeholder="Enter your new password"  autofocus />
                        <img class="passwordIcon" th:src="@{/images/hide.png}" onclick="togglePasswordVisibility()">
                    </div>
                    <div class="repasswordContainer">
                        <input type="password" name="repassword" id="repassword" placeholder="Confirm your new password"  required oninput="checkPasswordMatch(this);" /> 
                        <img class="repasswordIcon" th:src="@{/images/hide.png}" onclick="toggleRePasswordVisibility()">
                    </div>           
                    <input type="submit" value="Change Password" onclick="return validateForm()"/>
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/javascript/user/setNewPassword.js}"></script>
</body>

</html>