
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification Code Expired</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link th:href="@{/css/user/verificationFailed.css}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <a href="https://www.fraseric.ca/"><img th:src="@{/images/fic_logo.svg}" class="logo"></a>
        <div class="left">
            <img class="illustration" th:src="@{/images/verificationFailed.png}" >
        </div>
        <div class="right">
            <div class="formContainer">
                
              <h1>Verification Link Expired</h1>
              <h3>The verification link you received has expired.<h3>

              <div class ="text"> 
              <ul>
                  <li>
                    <div class ="bold-text">Option 1 :</div>Use the newest code you received via email.
                  </li>
                  <li>
                    <div class = "bold-text">Option 2 :</div>Hit the "Resend" button below to request a new verification code.
                    <form id="resendForm" th:action="@{/user/verification/reSend}" method="post">
                      <button type="submit">Resend Verification Email</button>
                   </form>
                  </li>
              </ul>
              </div>
              

        </div>
    </div>
</body>
</html>
