<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form method="post" th:action="@{/teacher/createClassroom}">
    <label for="className">Class Name:</label>
    <input type="text" id="className" name="className" required><br><br>

    <label for="roomNumber">Room Number:</label>
    <select id="roomNumber" name="roomNumber" required>
        <option th:each="roomNumber : ${availableRoomNumbers}" th:value="${roomNumber}">
            <span th:text="${roomNumber}"></span>
        </option>
    </select><br><br>

    <button type="submit">Create room</button>
</form>
</body>
</html>
