<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Data</title>
    <link rel="stylesheet" th:href="@{/css/teacher/attendanceData.css}">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- nav bar -->
    <div class="navbar">
        <a href="https://www.fraseric.ca/" class="navbar-logo-link">
            <img class="navbar-logo" id="navbar-logo-img" th:src="@{/images/fic_logo_alter.svg}">
        </a>
        
        <div class="navbar-links">
          <div class="navOne" onclick="toggleSection('main')">History</div>
          <div class="navTwo" onclick="toggleSection('studentData')">Students</div>
        </div>

        <div class="nav-dropdown">
            <img class="nav-user" th:src="@{/images/user_alter.png}" onclick="navtoggleDropdown()">
            <div class="nav-dropdown-content" id="navdropdownContent">
                <div class="profile">
                    <table>
                        <tr>
                            <td class="label">Name</td>
                            <td><span th:text="${name}"></span></td>
                        </tr>
                        <tr>
                            <td class="label">Email</td>
                            <td><span th:text="${email}"></span></td>
                        </tr>
                        <tr>
                            <td class="label">Account Type</td>
                            <td>Teacher Account</td>
                        </tr>
                    </table>
                </div>
              <div class="logOut">
                <a href="/user/logout">Sign Out</a>
              </div>
            </div>
        </div>
    </div>
    <!-- end nav bar -->

    <!-- left side of dashboard -->
    <div class="left" id="left">
        <a href="https://www.fraseric.ca/">
          <img class="logo" th:src="@{/images/fic_logo_alter.svg}">
        </a>
        <ul class="menu">
          <li class="listOne" onclick="toggleSection('main')">
            <img id="menu" th:src="@{/images/history_alter.png}">
            <div class="ul-text">Class History</div>
          </li>
          <li class="listTwo" onclick="toggleSection('archive')">
            <img id="add" th:src="@{/images/student.png}">
            <div class="ul-text">Students</div>
          </li>

        </ul>
    </div>
    <!-- end left side -->

    <!-- right side of dashboard -->
    <div class="container" id="container">
        <!-- Class History -->
        <div class="main" id="main">
            <div class="heading">
                <!-- Back to Dashboard -->
                <a href="/teacher/dashboard" class="back" title="Back to Dashboard">
                    <i class="fa fa-angle-left"></i>
                </a>

                <!-- Display class name -->
                <h1><span th:text=${classroom}></span> Class History</h1>

                <!-- Dropdown menu -->
                <div class="user-dropdown">
                    <img class="user" th:src="@{/images/user.png}" onclick="toggleDropdown()">
                    <div class="dropdown-content" id="dropdownContent">
                        <div class="profile">
                            <table>
                                <tr>
                                    <td class="label">Name</td>
                                    <td><span th:text="${name}"></span></td>
                                </tr>
                                <tr>
                                    <td class="label">Email</td>
                                    <td><span th:text="${email}"></span></td>
                                </tr>
                                <tr>
                                    <td class="label">Account Type</td>
                                    <td>Teacher Account</td>
                                </tr>
                            </table>
                        </div>
                    <div class="logOut">
                        <a href="/user/logout">Sign Out</a>
                    </div>
                    </div>
                </div>
                <!-- end user dropdown -->
            </div>
                
            <!-- Data display -->
            <div th:if="${attendanceRecords.size() < 1}">
                <p>This class does not have any record yet.</p>
            </div>
            <div th:if="${attendanceRecords.size() >= 1}" class="dataContainer">
                <div th:each="attendanceRecord : ${attendanceRecords}" class="session">
                    <div class="date">
                        <b>Date:</b> <span th:text="${#temporals.format(attendanceRecord.attendanceDate, 'yyyy-MM-dd')}"></span>
                    </div>
                    <div class="time">
                        <b>Time:</b> <span th:text="${#temporals.format(attendanceRecord.attendanceDate, 'HH:mm:ss')}"></span>
                    </div>
                    <a th:href="@{/teacher/{hashedTeacherId}/courseData/{courseHashedId}/{recordId}(hashedTeacherId=${hashedTeacherId}, courseHashedId=${courseHashedId}, recordId=${attendanceRecord.rid})}">
                        <button>View Details</button>
                    </a>
                </div>
            </div>
        </div>

        <!-- Students Data -->
        <div class="studentData" id="studentData">
            students data
        </div>
    </div>   
    <script type="text/javascript" th:src="@{/javascript/teacher/attendanceData.js}"></script>
</body>
</html>
