<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <div th:if="${attendanceRecords.size() < 1}">
        <p>This class does not have any record yet.</p>
    </div>

    <div th:if="${attendanceRecords.size() >= 1}">
        <table>
            <thead>
                <tr>
                    <th>Attendance Date</th>
                    <!-- Add more table headers if needed -->
                </tr>
            </thead>
            <tbody>
                <tr th:each="attendanceRecord : ${attendanceRecords}">
                    <!-- Format the date time -->
                    <td th:text="${#temporals.format(attendanceRecord.attendanceDate, 'yyyy-MM-dd')}"></td>
                    <td th:text="${#temporals.format(attendanceRecord.attendanceDate, 'HH:mm:ss')}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script type="text/javascript" th:src="@{/javascript/teacher/attendanceData.js}"></script>
</body>
</html>
