<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <div th:if="${attendanceRecords.size() < 1}">
        <p>This class does not have any record yet.</p>
    </div>
    <div th:if="${attendanceRecords.size() >= 1}">
        <div th:each="attendanceRecord : ${attendanceRecords}">
            <!-- Format the date time, frontend can change the h2 tag -->
            <h2 th:text="${#temporals.format(attendanceRecord.attendanceDate, 'yyyy-MM-dd')}"></h2>
            <h2 th:text="${#temporals.format(attendanceRecord.attendanceDate, 'HH:mm:ss')}"></h2>
            <a th:href="@{/teacher/{hashedTeacherId}/courseData/{courseHashedId}/{recordId}(hashedTeacherId=${hashedTeacherId}, courseHashedId=${courseHashedId}, recordId=${attendanceRecord.rid})}">
                <!-- Frontend add style to this or whatever -->
                <button>View</button>
            </a>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/javascript/teacher/attendanceData.js}"></script>
</body>
</html>
