<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teacher Dashboard</title>
</head>
<body>
    <h1>Welcome, Teacher <span th:text="${name}"></span></h1>
    <p>Email: <span th:text="${email}"></span></p>
    <a href="/user/logout">Log out</a>

    <h3>Your Classrooms:</h3>
    <ul th:if="${classrooms.size() > 0}">
        <!-- Iterate over the classrooms and display their details -->
        <li th:each="classroom : ${classrooms}">
            <strong>Class Name:</strong> <span th:text="${classroom.className}"></span><br>
            <strong>Room Number:</strong> <span th:text="${classroom.roomNumber}"></span><br>
            <strong>join code</strong> <span th:text="${classroom.joinCode}"></span><br>
        </li>
    </ul>
    <p th:unless="${classrooms.size() > 0}">You have not created a class yet.</p>
    <a th:href = "@{/teacher/addClassroom}">Create a Classroom</a>
</body>
</html>
