<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<form id="editForm">
    <input type="hidden" id="hashedCid" th:value="${classroomHashedId}">

    <div>
        <input type="text" id="classroomName" name="classroomName"
               th:value="${classroom.className}">
    </div>
    <div>
        <select id="roomNumber" name="roomNumber">
            <option th:each="room : ${availableRoomNumbers}"
                    th:value="${room}"
                    th:selected="${room == classroom.roomNumber}">
                <span th:text="${room}"></span>
            </option>
        </select>
    </div>
    
    <!-- Submit button -->
    <div class="d-grid gap-2">
        <button>Save</button>
    </div>
    
</form>
<button th:onclick="deleteCourse([[${classroomHashedId}]], [[${classroom.className}]], [[${classroom.roomNumber}]])">Delete</button>
<script type="text/javascript" th:src="@{/javascript/teacher/courseController.js}"></script>
</body>
</html>






